{% extends 'base.html' %}

{% block title %}
Questions
{% endblock title %}

{% block content %}
<form action="" method="GET" style="display: inline">
    <input type="hidden" name='q_sort' value="new">
    <button type="submit" class="ui primary button">New questions</button>
</form>
<form action="" method="GET" style="display: inline">
    <input type="hidden" name='q_sort' value="hot">
    <button type="submit" class="ui primary button">Hot questions</button>
</form>
<Br>
{% for obj in qs %}
    {% include 'posts/question_card.html' %}
{% endfor %}

{% include 'posts/pages.html' %}

{% endblock content %}