{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Custom css-->
    <link rel="stylesheet" type="text/css" href={% static 'style.css' %}
    <!-- semantic UI -->
    <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>


    <title>hAsker - {% block title %}{% endblock title %}</title>
  </head>
  <body>
    {% include 'bars/navbar.html' %}
    <div class="ui grid">
      <div class="row">
        <div class="nine wide column">
          <div class="ui container">
            {% block content %}
            {% endblock content %}
          </div>
        </div>
        <div class="three wide column">
          {% include 'bars/right_bar.html' %}
        </div>
      </div>
    </div>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    {% block scripts %}
    {% endblock scripts %}

  </body>
</html>